.services {
	padding: 100px 0;
	background-color: var(--light-color);

	@media (max-width: 768px) {
		padding: 50px 0;
	}

	&__body {
	}

	&__title {
		&:not(:last-child) {
			margin-bottom: 46px;

			@media (max-width: 768px) {
				margin-bottom: 15px;
			}
		}
	}

	&__content {
		display: flex;
		justify-content: flex-start;
		margin: -15px;

		@media (max-width: 768px) {
			flex-wrap: wrap;
		}

		& > * {
			margin: 15px;
		}


	}

	&__info {
		flex: 0 1 504px;

		@media (max-width: 768px) {
			flex: 1 1 100%;
		}

		&:not(:last-child) {
			margin-right: 80px;
			@media (max-width: 1024px) {
				margin-right: 15px;
			}
		}
	}

	&__text-box {
		&:not(:last-child) {
			margin-bottom: 69px;

			@media (max-width: 768px) {
				margin-bottom: 30px;
			}
		}
	}

	&__subtitle {
		margin: 0;
		padding: 0;
		font-weight: 400;
		font-size: rem(18);
		line-height: lh(27, 18);
		color: var(--accent-color);

		&:not(:last-child) {
			margin-bottom: 12px;
		}
	}

	&__text {
		margin: 0;
		padding: 0;
		margin-bottom: 12px;
	}

	&__link {
		margin-top: -19px;
		position: relative;

		@media (max-width: 550px) {
			min-width: 100%;
			text-align: center;

			&::before,
			&::after {
				display: none;
			}
		}

		&::before {
			content: "";
			position: absolute;
			top: 22px;
			right: -77px;
			background-color: var(--gray-color);
			width: 80px;
			height: 1px;
			transition: all 0.5s;
		}

		&::after {
			content: attr(data-link-title);
			position: absolute;
			top: 12px;
			right: -113px;
			color: var(--gray-color);
			text-transform: uppercase;
			font-weight: 300;
			font-size: rem(14);
			transition: all 0.5s;
		}

		&:hover {
			&::before {
				background-color: var(--accent-color);
			}
			&::after {
				color: var(--accent-color);
			}
		}
	}

	&__list {
		flex: 0 1 500px;

		@media (max-width: 768px) {
			flex: 1 1 100%;
		}
	}
}

.services-list {
	padding: 0;
	list-style-type: none;

	&__item {
		max-width: 90%;
		border: 2px solid var(--gray-color);
		padding: 10px 10px 10px 113px;
		counter-increment: my-counter;
		position: relative;
		transition: all 0.5s;

		@media (max-width: 768px) {
			max-width: 100%;
		}

		@media (max-width: 550px) {
			padding: 10px;
			padding-left: 80px;
		}

		&:not(:last-child) {
			margin-bottom: 12px;
		}

		&::before {
			content: counter(my-counter);
			position: absolute;
			top: 18px;
			left: 20px;
			color: var(--gray-color);
			font-weight: 400;
			font-size: rem(36);
			line-height: lh(53, 36);
			text-transform: uppercase;
			transform: rotate(270deg);
			transition: all 0.5s;
		}

		&:nth-child(-n + 9) {
			// от 1 до 9
			&::before {
				content: "0" counter(my-counter);
			}
		}

		&:hover {
			border-color: var(--accent-color);
			max-width: 100%;

			&::before {
				color: var(--accent-color);
			}

			& > .services-list__title {
				color: var(--accent-color);
			}
		}
	}

	&__title {
		margin: 0;
		padding: 0;
		font-weight: 400;
		font-size: rem(24);
		line-height: lh(36, 24);
		color: var(--black-color);
		transition: all 0.5s;

		@media (max-width: 550px) {
			font-size: rem(20);
		}
	}

	&__text {
		margin: 0;
		padding: 0;
	}
}
